<%= form_for([@log, log_item]) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :content, (log_item.milestone? ? "Name" : "Item") %>
    <%= f.text_field :content, :class => "input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :desc, "Description" %>
    <%= f.text_area :desc, :rows => "3", :class => "input-xxlarge" %>
  </div>
  <div class="actions">
    <%= f.hidden_field :milestone %>
    <%= f.submit 'Add Item', :class => 'btn' %>
  </div>
<% end %>
