<div id="log_item_<%= log_item.id %>" class="log-item <%= milestone_class(log_item) %>" data-id="<%= log_item.id %>" data-update-url="<%= log_log_item_url(log_item.log, log_item) %>">
  <%= log_item.content %>
</div>