<%= link_to "&larr; Back".html_safe, root_url %>

<h1><%= @log.name %></h1>

<div>
  <%= link_to "Add Item", "#add_item_form", class: "btn", data: { toggle: "modal" } %>
</div>

<div id="add_item_form" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Add Item</h3>
  </div>
  <div class="modal-body">
    <%= render partial: 'log_items/form', locals: { log_item: @log.log_items.new } %>
  </div>
  <div class="modal-footer"></div>
</div>

<div class="log">
  <%= render @log.log_items %>
</div>